{% extends 'base.html.twig' %}

{% block title %}Mis tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Tareas a realizar✅</h2>
    {{ include('includes/task-list.html.twig') }}
</div>
{% endblock %}
